In [1]:
# list
# tuple
# dict
# set

In [2]:
#list
# - indexing
# -ordered
# -multiple or duplicate data
# -mutable

In [1]:
a = []
print(type(a))

<class 'list'>

In [2]:
a = [1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [3]:
a = [1,2,3,4,5,6,7,8]
b = ["apple","ball","cat","dog","apple"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [6]:
b = ["apple","ball","cat","dog","apple"]
print(b[0])
print(b[0:5])
print(b[0:4])

apple
['apple', 'ball', 'cat', 'dog', 'apple']
['apple', 'ball', 'cat', 'dog']

In [7]:
a= [1,2,3,4]
b= [5,6,7,8,9]
c= a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [3]:
a = ["apple","ball","cat","dog"]
a[0]="ant"
print(a)

['ant', 'ball', 'cat', 'dog']

In [9]:
#append() extend() insert()

In [4]:
a = []
b = "apple"
a.append(b)
a.append("ball")
print(a)

['apple', 'ball']

In [10]:
l= []
n= int(input('enter n= '))
for i in range(n):
    x= int(input("enter x= "))
    l.append(x)
    print(l)

enter n=  4
enter x=  3

[3]

enter x=  2

[3, 2]

enter x=  5

[3, 2, 5]

enter x=  2

[3, 2, 5, 2]

In [14]:
print("the max value = ",max(l))
print("the min value= ",min(l))
print("the sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

the max value =  5
the min value=  2
the sum =  12
[2, 2, 3, 5]
[5, 3, 2, 2]

In [15]:
a = ["apple","ball","cat","dog","ant"]
a.sort()
print(a)

['ant', 'apple', 'ball', 'cat', 'dog']

In [16]:
a = ["apple","ball","cat","dog","ant"]
a.insert(1,"Cat")
a

['apple', 'Cat', 'ball', 'cat', 'dog', 'ant']

In [20]:
a= ["apple","ball","cat","dog","ant"]
b= [1,2,3]
a.extend(b)
print(a)

['apple', 'ball', 'cat', 'dog', 'ant', 1, 2, 3]

In [24]:
#update
a = ["apple","ball","cat","dog","ant"]
a[0:2] =["Apple","Ball"]
print (a)

['Apple', 'Ball', 'cat', 'dog', 'ant']

In [25]:
# del remove() pop()
a = ["apple","ball","cat","dog","ant"]
del a[0]
print(a)

['ball', 'cat', 'dog', 'ant']

In [26]:
a = ["apple","ball","cat","dog","ant"]
a.remove('apple')
print (a)

['ball', 'cat', 'dog', 'ant']

In [27]:
a = ["apple","ball","cat","dog","apple"]
c= a.count("apple")
for i in range (c):
    a.remove('apple')
    print (a)

['ball', 'cat', 'dog', 'apple']
['ball', 'cat', 'dog']

In [28]:
a = ["apple","ball","cat","dog","apple"]
b = a.pop(1)
print(b)

ball

In [33]:
a = ["apple","ball","cat","dog","apple"]
l = len(a)
for i in range(l):
    print(a[i])

apple
ball
cat
dog
apple

In [2]:
a = ["apple", "banana", "cherry"]
if "apple" in a:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [3]:
# list inside list
l= [[1,2,3],[4,5,6],[7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
data = [['ram',30,"kathandu"],
        ['shyam',32,"banepa"],
        ['hari',34,"bhaktapur"]]
print(data)

[['ram', 30, 'kathandu'], ['shyam', 32, 'banepa'], ['hari', 34, 'bhaktapur']]

In [5]:
data[2]

['hari', 34, 'bhaktapur']

In [6]:
data[0]

['ram', 30, 'kathandu']

In [7]:
data[0][0]

'ram'

In [9]:
info =[]
n= int(input("enter n= "))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    address = input("enter address = ")
    info.append([name,age,address])
    
    print(info)

enter n=  2
enter name =  ram
enter age =  23
enter address =  banepa

[['ram', 23, 'banepa']]

enter name =  shyam
enter age =  25
enter address =  ktm

[['ram', 23, 'banepa'], ['shyam', 25, 'ktm']]

In [10]:
data = [['ram',30,"kathandu"],
        ['shyam',32,"banepa"],
        ['hari',34,"bhaktapur"]]
name = input("enter name = ")
for i in data:
    if name in i:
        print(i)

enter name =  shyam

['shyam', 32, 'banepa']

In [15]:
bill = []
all_total = 0
n= int(input("enter n ="))
for i in range(n):
    name = input("enter name = ")
    price = float(input("enter price = "))
    quantity = float(input("enter qty = "))
    total = price * qty
    bill.append ([i,name,price,quantity,total])
    all_total = all_total + total 
    print(bill)
    print(all_total)

enter n = 2
enter name =  ram
enter price =  200
enter qty =  100

[[0, 'ram', 200.0, 100.0, 48000.0]]
48000.0

enter name =  shyam
enter price =  100
enter qty =  200

[[0, 'ram', 200.0, 100.0, 48000.0], [1, 'shyam', 100.0, 200.0, 24000.0]]
72000.0

In [16]:
data = [['ram',30,"kathandu"],
        ['shyam',32,"banepa"],
        ['hari',34,"bhaktapur"]]
data[0][0] = "rama"
data

[['rama', 30, 'kathandu'], ['shyam', 32, 'banepa'], ['hari', 34, 'bhaktapur']]

In [17]:
# wap to create a matrix
# r = ?
#c = ?
#x = ?

In [20]:
mat = []
r= int(input("enter r = "))
c= int(input("enter c = "))
for i in range (r):
    z = []
    for j in range(c):
        x = int(input("enter x ="))
        z.append(x)
        mat.append(z)
        
        print(mat)

enter r =  2
enter c =  2
enter x = 23

[[23]]

enter x = 24

[[23, 24], [23, 24]]

enter x = 25

[[23, 24], [23, 24], [25]]

enter x = 26

[[23, 24], [23, 24], [25, 26], [25, 26]]

In [5]:
# tuple
# sum () min() max() can do

In [6]:
# no append() insert() extend()
#no del remove () pop()
#no update()
#no sort() reverse() 
#canot do

In [7]:
a = (1,)
type(a)

tuple

In [8]:
a= 1,2,3,4,5,6,7
print(a)

(1, 2, 3, 4, 5, 6, 7)

In [9]:
t= (1,2,3,4,5,6,7)
k =("apple","ball","cat","dog")
print(type(t))
print(type(k))

<class 'tuple'>
<class 'tuple'>

In [10]:
print(k[0])
print(t[0])

apple
1

In [11]:
t= (1,2,3,4,5,6,7)
j=(8,9)
print(t+j)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
t= (1,2,3,4)
print(t*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [13]:
a = (1,2,3,4,5,6)
print(a[0])
print(a[0:4])

1
(1, 2, 3, 4)

In [14]:
a = (1,2,3,4,5)
b = list(a)
print(b)

[1, 2, 3, 4, 5]

In [15]:
a = (1,2,3,4,5)
b = list(a)
del b[0]
a = tuple(b)
print(a)

(2, 3, 4, 5)

In [16]:
a = ("apple","ball","cat","dog")
print(sorted(a))

['apple', 'ball', 'cat', 'dog']

In [17]:
t= ()
#t = tuple()
n= int(input("enter n = "))
for i in range(n):
    x= int(input("enter x ="))
    t= t + (x,)
    print(t)

enter n =  2
enter x = 3

(3,)

enter x = 4

(3, 4)

In [ ]:
#wap to create the following tuple inside tuple
#data = (('ram',30,"kathandu")
       # ('shyam',32,"banepa"),
       # ('hari',34,"bhaktapur"))