In [1]:
#list
# - indexing
# -ordered
# -multiple or duplicate data
# -imutable

In [2]:
t= (1,2,3,4,5,6,7)
k =("apple","ball","cat","dog")
print(type(t))
print(type(k))

<class 'tuple'>
<class 'tuple'>

In [4]:
print(k[0])
print(t[0])

apple
1

In [5]:
t= (1,2,3,4,5,6,7)
j=(8,9)
print(t+j)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
t= (1,2,3,4)
print(t*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
# sum () min() max() can do

In [8]:
# no append() insert() extend()
#no del remove () pop()
#no update()
#no sort() reverse() 
#canot do

In [9]:
t= ("1",)
type(t)

tuple

In [10]:
a= 1,2,3,4,5,6,7
print(a)

(1, 2, 3, 4, 5, 6, 7)

In [11]:
t= ()
#t = tuple()
n= int(input("enter n = "))
for i in range(n):
    x= int(input("enter x ="))
    t= t + (x,)
    print(t)

enter n =  2
enter x = 3

(3,)

enter x = 2

(3, 2)

In [14]:
#wap to create the following tuple inside tuple
#data = (('ram',30,"kathandu")
       # ('shyam',32,"banepa"),
       # ('hari',34,"bhaktapur"))