In [1]:
#file = open(<file_name>','<mode>)
#file.close

In [2]:
#mode 
#read -> r
#create -> x
#write ->w
#append ->a

In [3]:
file = open('data.txt','x')
file.close()

In [4]:
file = open('data.txt','r')
d = file.read()
print(d)
file.close()

1. hello world
2. hello world
3. hello world
4. hello world
5. hello world
6. hello world

In [5]:
new_data = d.split('\n')
new_data

['1. hello world',
 '2. hello world',
 '3. hello world',
 '4. hello world',
 '5. hello world',
 '6. hello world']

In [6]:
new_data[1]

'2. hello world'

In [7]:
file = open('data1.txt','w')
file.write("hello world")
file.close()

In [8]:
#writting on text file
bill =""
all_total = 0
n= int(input("enter n = "))
for i in range (n):
    name = input("enter name = ")
    price = float(input("enter price = "))
    qty = float(input("enter qty = "))
    total = price*qty
    bill = bill + f"{name} {price} {qty} {total}\n"
    all_total = all_total + total
print(bill)
print(all_total)

file = open ('bill.txt','a')
file.write(bill)
file.close()

enter n =  1
enter name =  rajesh
enter price =  12.3
enter qty =  12

rajesh 12.3 12.0 147.60000000000002

147.60000000000002

In [11]:
# on csv file
bill =""
all_total = 0
n= int(input("enter n = "))
for i in range (n):
    name = input("enter name = ")
    price = float(input("enter price = "))
    qty = float(input("enter qty = "))
    total = price*qty
    bill = bill + f"{name} ,{price}, {qty}, {total}\n"
    all_total = all_total + total
print(bill)
print(all_total)

file = open ('bill.csv','w')
file.write('name,price,quantity,total\n')
file.write(bill)
file.close()

enter n =  2
enter name =  rajesh
enter price =  100
enter qty =  10
enter name =  hari
enter price =  100
enter qty =  20

rajesh ,100.0, 10.0, 1000.0
hari ,100.0, 20.0, 2000.0

3000.0

In [10]:
pwd

'C:\\Users\\user'

In [12]:
#marks = ""
#all_total=0
#n = int(input("enter n = "))
#for i in ramge (n):
 #   name = input("enter name = ")
  #  subject = input("enter subject = ")
   # mark = int(input("enter mark = "))
   # if

In [14]:
file = open('bill.csv','r')
d = file.read()
data = d.split('\n')
print(data)
file.close()

['name,price,quantity,total', 'rajesh ,100.0, 10.0, 1000.0', 'hari ,100.0, 20.0, 2000.0', '']

In [15]:
new_data = []
for i in data[:-1]:
    new_data.append(i.split(','))
new_data

[['name', 'price', 'quantity', 'total'],
 ['rajesh ', '100.0', ' 10.0', ' 1000.0'],
 ['hari ', '100.0', ' 20.0', ' 2000.0']]