In [2]:
# for loop
# while loop

In [ ]:
#range(5)    0,1,2,3,4
#range(1,5)   1,2,3,4
#range(1,10,2)  1,3,5,7,9

In [3]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [4]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [5]:
for i in range(1,7,2):
    print(i)

1
3
5

In [6]:
for i in range(7):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world

In [9]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n =  7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [10]:
s = 0
n= int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    s= s+x
print(s)

enter n =  2
enter x =  56
enter x =  76

132

In [11]:
s = ''
n= int(input("enter n = "))
for i in range(n):
    x = input("enter x = ")
    s= s+x
print(s)

enter n =  2
enter x =  ram
enter x =  shyam

ramshyam

In [13]:
s = ''
n= int(input("enter n = "))
for i in range(n):
    x = input("enter x = ")
    s= s+x+"\n"
print(s)

enter n =  3
enter x =  ram
enter x =  shyam
enter x =  hari

ram
shyam
hari

In [16]:
s = ''
n= int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone =input("enter phone = ")
    s= s + name +" " + phone + "\n"
print(s)

enter n =  2
enter name =  ram
enter phone =  987065432
enter name =  shyam
enter phone =  9876543210

ram 987065432
shyam 9876543210

In [ ]:
#name =?
# price =?
#qty =?
#total = price + qty
#all_total = ?

In [23]:
bill = ""
all_total = 0
n = int (input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    price = float(input("enter price ="))
    qty = float(input("enter qty = "))
    total = price* qty
    bill = bill + name+" " +str(price) + str(qty) +" " + str(total) +"\n"
    all_total = all_total + total
print(bill)
print(all_total)

enter n =  2
enter name =  ram
enter price = 50
enter qty =  30
enter name =  shyam
enter price = 30
enter qty =  50

ram 50.030.0 1500.0
shyam 30.050.0 1500.0

3000.0

In [18]:
a = "hello world"
for i in a:
    print (i)

h
e
l
l
o

w
o
r
l
d

In [6]:
a= "hello world"
for i in a:
    print(i, end="")

hello world

In [11]:
a= "hello world. iam python.";
for i in a :
    if i != ".":
        print(i,end="")

hello world iam python

In [40]:
a= "hello world. iam python_";
for i in a :
    if i != "." and i !="_":
        print(i,end="")

hello world iam python

In [ ]:
# control statements
#break
#continue

In [26]:
for i in range(10):
    if i==5:
        continue
    print(i,end = " ")

0 1 2 3 4 6 7 8 9

In [27]:
for i in range(10):
    if i==5:
        break
    print(i,end = " ")

0 1 2 3 4

In [28]:
a= "hello world. iam python."
for i in a:
    if i == ".":
        continue
    print(i,end ="")

hello world iam python

In [29]:
a= "hello world. iam python."
for i in a:
    if i == ".":
        break
    print(i,end ="")

hello world

In [41]:
#wap to detect if the given is prime or composite
#prime 2,3,5,7,11,13,17
#composite 4,6,8,10,12
#use break statement,for else loop
#learn and watch for else loop

In [ ]:
n= int(input("enter n="))