In [2]:
try:
      file = open('datas.csv','x')
      file.close()
except:
    print("the file is already exist")

the file is already exist

In [4]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

         1\traj\t34\tktm\t9808300626
0  2\tshyam\t35\tbhaktapur\t98765432
1    3\thari\t36\tbanepa\t9876543321
2        4\tgita\t37\tbbb\t876543322
3         5\tsita\t38\tccc\t98765433

In [7]:
df.head(3)

         1\traj\t34\tktm\t9808300626
0  2\tshyam\t35\tbhaktapur\t98765432
1    3\thari\t36\tbanepa\t9876543321
2        4\tgita\t37\tbbb\t876543322

In [10]:
df.tail(3)

       1\traj\t34\tktm\t9808300626
1  3\thari\t36\tbanepa\t9876543321
2      4\tgita\t37\tbbb\t876543322
3       5\tsita\t38\tccc\t98765433

In [11]:
df = pd.read_csv('datas.csv',index_col = 'sn')
df

ValueError: Index sn invalid

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   1	raj	34	ktm	9808300626  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

In [14]:
# loc and iloc
df.iloc[1:3]

       1\traj\t34\tktm\t9808300626
1  3\thari\t36\tbanepa\t9876543321
2      4\tgita\t37\tbbb\t876543322

In [15]:
df.loc[2:3]

   1\traj\t34\tktm\t9808300626
2  4\tgita\t37\tbbb\t876543322
3   5\tsita\t38\tccc\t98765433

In [18]:
df

         1\traj\t34\tktm\t9808300626
0  2\tshyam\t35\tbhaktapur\t98765432
1    3\thari\t36\tbanepa\t9876543321
2        4\tgita\t37\tbbb\t876543322
3         5\tsita\t38\tccc\t98765433

In [19]:
df[df['name'] == "ram"]

KeyError: 'name'

In [21]:
df[(df['name'] == "ram") | (df['age']>50)]

KeyError: 'name'

In [22]:
data = df[(df['name'] == "ram") | (df['age']>50)]
data

KeyError: 'name'

In [23]:
data.to_csv('data1.csv')

NameError: name 'data' is not defined

In [26]:
import pandas as pd
data = {'name':['ram','shyam','hari'],
        'age':[34,35,36],
        'address':['banepa','bhaktapur','ktm']}
df = pd.DataFrame(data)
df

    name  age    address
0    ram   34     banepa
1  shyam   35  bhaktapur
2   hari   36        ktm

In [27]:
data1 = {'name':['ram','shyam','hari'],
        'age':[34,35,36],
        'address':['banepa','bhaktapur','ktm']}
df1 = pd.DataFrame(data1)
data2 = {'name':['ram','shyam','hari'],
        'age':[34,35,36],
        'address':['banepa','bhaktapur','ktm']}
df2 = pd.DataFrame(data2)
df = pd.concat([df1,df2])
df

    name  age    address
0    ram   34     banepa
1  shyam   35  bhaktapur
2   hari   36        ktm
0    ram   34     banepa
1  shyam   35  bhaktapur
2   hari   36        ktm